/*tool animation*/
.tool-icon {
  position: absolute;
}

.sql-wrapper-final {
  animation: x-axis-sql 0.7s linear forwards;
}

.sql-wrapper {
  z-index: 2;
  position: absolute;
  left: -300px;
  top: 230px;
}

.sql-final {
  animation: y-axis-sql 0.7s ease-out forwards; /* Apply animation to both start and end positions */
}

@keyframes x-axis-sql {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(160px);
  }
}
@keyframes y-axis-sql {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-220px);
  }
}

.mongo-wrapper-final {
  animation: x-axis-mongo 0.7s linear forwards;
}

.mongo-wrapper {
  z-index: 2;
  position: absolute;
  left: -280px;
  top: 220px;
}

.mongo-final {
  animation: y-axis-mongo 0.7s ease-out forwards;
}

@keyframes x-axis-mongo {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(160px);
  }
}
@keyframes y-axis-mongo {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-130px);
  }
}

.react-wrapper {
  z-index: 2;
  position: absolute;
  left: -220px;
  top: 230px;
}

.react-wrapper-final {
  animation: x-axis-react 0.7s linear forwards;
}

.react-final {
  animation: y-axis-react 0.7s ease-out forwards;
}

@keyframes x-axis-react {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(60px);
  }
}
@keyframes y-axis-react {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-270px);
  }
}

.js-wrapper {
  z-index: 2;
  position: absolute;
  left: -280px;
  top: 240px;
}

.js-wrapper-final {
  animation: x-axis-js 0.6s linear forwards;
}

.js-final {
  animation: y-axis-js 0.6s ease-out forwards;
}

@keyframes x-axis-js {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}

@keyframes y-axis-js {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-300px);
  }
}

.css-wrapper {
  z-index: 2;
  position: absolute;
  left: -340px;
  top: 240px;
}

.css-wrapper-final {
  animation: x-axis-css 0.6s linear forwards;
}

.css-final {
  animation: y-axis-css 0.6s ease-out forwards;
}

@keyframes x-axis-css {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-45px);
  }
}

@keyframes y-axis-css {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-300px);
  }
}

.html-wrapper {
  z-index: 2;
  position: absolute;
  left: -300px;
  top: 250px;
}

.html-wrapper-final {
  animation: x-axis-html 0.7s linear forwards;
}

.html-final {
  animation: y-axis-html 0.7s ease-out forwards;
}

@keyframes x-axis-html {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-140px);
  }
}

@keyframes y-axis-html {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-270px);
  }
}

.tailw-wrapper {
  z-index: 3;
  position: absolute;
  left: -300px;
  top: 240px;
}

.tailw-wrapper-final {
  animation: x-axis-tailw 0.7s linear forwards;
}

.tailw-final {
  animation: y-axis-tailw 0.7s ease-out forwards;
}

@keyframes x-axis-tailw {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes y-axis-tailw {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-190px);
  }
}

.node-wrapper {
  z-index: 10;
  position: absolute;
  left: -250px;
  top: 250px;
}

.node-wrapper-final {
  animation: x-axis-node 0.7s linear forwards;
}

.node-final {
  animation: y-axis-node 0.7s ease-out forwards;
}

@keyframes x-axis-node {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-220px);
  }
}

@keyframes y-axis-node {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-120px);
  }
}

/*tool animation*/

.pepe {
  animation-name: pepe;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
@keyframes pepe {
  from,
  33%,
  66%,
  to {
    transform: rotate(10deg);
  }
  16%,
  50%,
  83% {
    transform: rotate(-10deg);
  }
}

#glow img:hover {
  scale: 1.2;
}

.about-me {
  position: absolute;
  top: 37%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  transform: rotate(-10deg);
  font-family: "Inter";
}

.about-me:hover {
  cursor: pointer;
}
