@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&display=swap");

:root {
  --main--1: #1add37;
  --main--2: #163dda;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: black;
  letter-spacing: 1.2px;
  background-color: white;
}

.head-1 {
  font-size: 80px;
}

.head-2 {
  font-size: 40px;
}

.head-3 {
  font-size: 30px;
}

.bodytext-1 {
  font-size: 16px;
}

.bodytext-2 {
  font-size: 20px;
}

.head {
  font-family: "GT-Flexa med";
}

.it {
  font-family: "GT-Flexa med it";
}

.project-name {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

/* about */
#hihand {
  position: absolute;
  left: 80px;
  top: -30px;
}

#flower {
  position: absolute;
  left: 180px;
}

#space1 {
  padding-left: 140px;
}

#space2 {
  padding-left: 120px;
}

#about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  letter-spacing: 1.2px;
}

.about-desc {
  display: flex;
  flex-direction: column;
  position: relative;
}

.po-1 {
  position: relative;
  left: 0px;
}

.po-2 {
  position: relative;
  left: 300px;
}

.po-3 {
  position: relative;
  left: 20px;
}

.po-4 {
  position: relative;
  left: 250px;
  font-family: "Anonymous Pro";
  font-style: italic;
}

span {
  position: relative;
  right: 150px;
}

@font-face {
  font-family: "GT-Flexa med";
  src: url(GT-Flexa-Condensed-Medium-Trial.woff2);
}

.curly {
  font-family: Helvetica, sans-serif;
  font-weight: reg;
  font-size: 90px;
  padding: 0 20px;
  color: #1add37;
}

#leadline {
  position: absolute;
  top: 480px;
  right: -100px;
}

#glow {
  position: relative;
  top: 500px;
  left: -100px;
}

#glow img {
  width: 600px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#glow-wrapper {
  position: absolute;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  margin-right: 3%;
  color: rgb(103, 107, 134);
}

#wrapper-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px 30px;
}

#wrapper-nav > div {
  margin-right: 50px;
}

/* skill */
#skill {
  margin-top: 420px;
  text-align: center;
}

.icon-wrapper {
  position: relative;
  left: 200px;
}

.web-dev {
  margin-top: 60px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.web-dev-img {
  position: absolute;
  z-index: 1;
  left: -250px;
  top: 20px;
}

.web-dev-des {
  margin-top: 380px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#wrapper-cando {
  gap: 100px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin-bottom: 20px;
}

.line {
  line-height: 50px;
}

.tools-box {
  padding: 2px 10px 3px 10px;
  border-radius: 5px;
  /* border: solid 2px hsl(0, 0%, 0%); */
  font-weight: bold;
  margin-right: 5px;
  background-color: #30e04b;
}

.tools-box-wrapper {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

/* project */
.project {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* video {
  position: absolute;
  left: 0;
} */

.wrapper-port .slider {
  margin: 0 auto;
  width: screen;
  max-width: 100%;
  text-align: center;
}

.slider input[type="radio"] {
  display: none;
}

.slider label {
  cursor: pointer;
  text-decoration: none;
}

.overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ .slides .inner {
  margin-left: 0;
}
#slide2:checked ~ .slides .inner {
  margin-left: -100%;
}

.slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
}

.slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
}

#controls label:hover {
  opacity: 1;
}

#option {
  margin: 70px 0 0;
  text-align: center;
}

#option label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin: 0 10px;
  font-size: ;
}

.blue {
  border: 3px solid var(--main--2);
}

.green {
  border: 3px solid var(--main--1);
}

#slide1:checked ~ #option label:nth-child(1) {
  background: var(--main--2);
}

#slide2:checked ~ #option label:nth-child(2) {
  background: var(--main--1);
}

.wrapper-port {
  margin-top: 70px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.port-container {
  margin-bottom: 120px;
  position: relative;
}

.port-container > img {
  position: relative;
  z-index: 1;
}

.port-container > video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.port-container:hover > video {
  z-index: 2;
  opacity: 1;
}

.project-link {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

.project-link-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  /* border: solid 1px rgba(0, 0, 0, 0.796); */
  border-radius: 5px;
}

.project-link-wrapper img {
  margin: 0;
  margin-right: 10px;
}

.separate-line {
  border-right: solid 2px black;
}

a:hover {
  cursor: pointer;
  color: var(--main--1);
}

.github {
  width: 25px;
}
