@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=Inter:wght@500;700;800&display=swap");

:root {
  --main--1: #1add37;
  --main--2: #163dda;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: black;
  letter-spacing: 1.2px;
  background-color: white;
  font-family: "Inter";
  overflow-x: hidden;
}

.head-1 {
  font-size: 5rem;
}

.head-2 {
  font-size: 2.5rem;
}

.head-3 {
  font-size: 1.875rem;
}

.bodytext-1 {
  font-size: 1rem;
}

.bodytext-2 {
  font-size: 1.25rem;
}

.head {
  font-family: "GT-Flexa med";
}

.it {
  font-family: "GT-Flexa med it";
}

.project-name {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1.875rem;
  text-align: center;
}

.graphic-example {
  width: 21.875rem;
  height: 21.875rem;
}

.web-example,
video {
  height: 36rem;
}

.link-icon {
  width: 1.5625rem;
  margin-right: 1rem;
}

/* about */
#hihand {
  position: absolute;
  left: 5.5rem;
  top: -3rem;
}

.about-flex {
  display: flex;
}

#leadline-png {
  width: 37.5rem;
}

#flower {
  position: absolute;
  left: 11.5rem;
}

#space1 {
  padding-left: 8.75rem;
}

#space2 {
  padding-left: 7.5rem;
}

#flower-png,
#hand-png {
  width: 7.5rem;
}

#about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  letter-spacing: 1.2px;
}

.about-desc {
  display: flex;
  flex-direction: column;
  position: relative;
}

.po-1 {
  position: relative;
  left: 0px;
}

.po-2 {
  position: relative;
  left: 18.75rem;
}

.po-3 {
  position: relative;
  left: 1.25rem;
}

.po-4 {
  position: relative;
  left: 15.625rem;
  font-family: "Anonymous Pro";
  font-style: italic;
}

span {
  position: relative;
  right: 9.375rem;
}

@font-face {
  font-family: "GT-Flexa med";
  src: url(GT-Flexa-Condensed-Medium-Trial.woff2);
}

.curly {
  font-family: Helvetica, sans-serif;
  font-weight: reg;
  font-size: 5.625rem;
  padding: 0 1.25rem;
  color: #1add37;
}

#leadline {
  position: absolute;
  top: 30rem;
  right: -6.25rem;
}

#glow {
  position: relative;
  top: 31.25rem;
  left: -6.25rem;
}

#glow img {
  width: 37.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#glow-wrapper {
  position: absolute;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 3.125rem;
  margin-right: 3%;
  color: rgb(103, 107, 134);
}

#wrapper-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.875rem 1.875rem;
  font-weight: 43.75rem;
}

#wrapper-nav > div {
  margin-right: 3.125rem;
}

/* skill */
#icon-coding,
#icon-graphic {
  height: 21.875rem;
  width: 21.875rem;
}

#skill {
  margin-top: 26.25rem;
  text-align: center;
}

.icon-wrapper {
  position: relative;
  left: 12.5rem;
}

.web-dev {
  margin-top: 3.75rem;
  padding: 0 3.125rem;
  display: flex;
  flex-direction: column;
}

.web-dev-img {
  position: absolute;
  z-index: 1;
  left: -15.625rem;
  top: 1.25rem;
}

.web-dev-des {
  margin-top: 23.75rem;
}

#wrapper-cando {
  gap: 6.25rem;
  margin-top: 6.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  margin-bottom: 1.25rem;
}

.line {
  line-height: 3.125rem;
}

.tools-box {
  padding: 2px 0.625rem 3px 0.625rem;
  border-radius: 5px;
  /* border: solid 2px hsl(0, 0%, 0%); */
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #30e04b;
  height: 1.75rem;
}

.tools-box-wrapper {
  display: flex;
  margin: 0.625rem 0rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* project */

.project {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-hidden {
  height: 75rem;
  overflow-y: hidden;
}

.wrapper-port .slider {
  margin: 0 auto;
  width: screen;
  max-width: 100%;
  text-align: center;
}

.slider input[type="radio"] {
  display: none;
}

.slider label {
  cursor: pointer;
  text-decoration: none;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ .slides .inner {
  margin-left: 0;
}
#slide2:checked ~ .slides .inner {
  margin-left: -100%;
}

.slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
}

.slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
}

#controls label:hover {
  opacity: 1;
}

#option {
  margin: 4.375rem 0 0;
  text-align: center;
}

#option label {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 1.875rem;
  font-weight: bold;
  margin: 0 0.625rem;
  font-size: ;
}

.blue {
  border: 0.1875rem solid var(--main--2);
}

.green {
  border: 0.1875rem solid var(--main--1);
}

#slide1:checked ~ #option label:nth-child(1) {
  background: var(--main--2);
}

#slide2:checked ~ #option label:nth-child(2) {
  background: var(--main--1);
}

.wrapper-port {
  margin-top: 4.375rem;
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 3.75rem;
}

.port-container {
  margin-bottom: 7.5rem;
  position: relative;
}

.port-container > img {
  position: relative;
  z-index: 1;
}

.port-container > video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.port-container:hover > video {
  z-index: 2;
  opacity: 1;
}

.project-link {
  display: flex;
  gap: 1.875rem;
  margin-top: 1.875rem;
  justify-content: center;
}

.project-link-wrapper {
  display: flex;
  align-items: center;
  padding: 0.3125rem 0.9375rem;
  /* border: solid 1px rgba(0, 0, 0, 0.796); */
  border-radius: 5px;
}

.project-link-wrapper img {
  margin: 0;
  margin-right: 1rem;
}

.separate-line {
  border-right: solid 2px black;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: black;
}

a:hover {
  cursor: pointer;
  color: var(--main--1);
}

.github {
  width: 1.5625rem;
  margin-right: 0.625rem;
}

/* resume */

.resume-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;
  padding: 0rem 5rem;
  margin-bottom: 2rem;
}

.resume-wrapper {
  display: grid;
  max-width: 81.25rem;
  grid-template-columns: 45% 55%;
  /* column-gap: 3rem; */
}

.resume-name {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 6.5rem;
  color: white;
  position: relative;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.ratiporn:after {
  content: "Ratiporn";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 8px var(--main--2);
  font-size: 1em;
}

.promsuk:after {
  content: "Promsuk";
  position: absolute;
  top: 1.3em;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 8px var(--main--2);
  font-size: 1em;
}

.resume-title {
  font-size: 2rem;
  font-family: "Inter";
}

.resume-side {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.resume-content {
  padding-top: 1.5rem;
}

.edu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edu-skill-wrapper {
  display: flex;
  gap: 3rem;
}

button {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter";
  font-size: 1.1rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

.detail-about-me,
.working-exp {
  font-size: 1.3rem;
  position: relative;
  z-index: 0;
  background: none;
}

.detail-about-me img,
.working-exp img {
  width: 10rem;
  position: absolute;
  z-index: -50;
  top: 0;
}

.resume-topic {
  color: #15c530;
  font-weight: 800;
  font-size: 1.3rem;
}

.resume-subtopic {
  color: black;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.resume-bold {
  font-weight: 700;
}

.resume-skill-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#aboutme,
#workexp {
  animation: moveInRight 1s ease-in-out;
}

@keyframes moveInRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(-2rem);
    opacity: 0.7;
  }
  0% {
    transform: translateX(50rem);
    opacity: 0;
  }
}

.resume-tools {
  border: 1px solid black;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

/*contact*/
.contact-logo {
  width: 2.5rem;
}

.phone {
  width: 2.3rem;
}

.contact-logo-circle {
  width: 5rem;
  height: 5rem;
  border: solid 0.1rem black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1rem;
  color: black;
}

.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer-inner {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-outer {
  max-width: 91.25rem;
  margin: auto;
  padding: 0rem 5rem;
}
